

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
    margin: 100px auto 0 auto;
    width: 80%;
    text-align: center;

    background: url(https://media.giphy.com/media/NsBknNwmmWE8WU1q2U/giphy.gif);
}

canvas {
  margin: 0 auto 0 auto;
  display: block;
  border: 5px solid black;

}
