

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
    margin: 100px auto 0 auto;
    width: 80%;
    text-align: center;

    background: url(https://media.giphy.com/media/NsBknNwmmWE8WU1q2U/giphy.gif);
}

canvas {
  margin: 0 auto 0 auto;
  display: block;
  border: 5px solid black;
  padding: 50px;

}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

div {
  padding: 40px;
  background-image: radial-gradient(#258BBF 5%, #2C4187 35%, black 70%);
}
